h1, h2{
    font-weight: 300;
    font-size: 60px;
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    background-color: white;
    margin: 0;
}

// color-variables
$neutral-black:#393939;
$neutral-grey:#909090;
$light-grey:#F7F7F7;
$primary-pink: #fff0ed;
$primary-blue:#5bacc3;